{% extends "adminbase.html" %} {% block title %}Manage Feedback{% endblock %} {%
block content %}
<h1 class="text-center">Manage Feedback</h1>
<ul class="list-group list-group-flush">
  {% for note in notes %}
  <li class="list-group-item">
    <strong>User ID: {{ note.user_id }}</strong> - {{ note.data }}
    <form
      method="POST"
      action="{{ url_for('views.delete_feedback', note_id=note.id) }}"
      style="display: inline"
    >
      <button type="submit" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </form>
  </li>
  {% endfor %}
</ul>
{% if not notes %}
<p class="text-center">No feedback available.</p>
{% endif %} {% endblock %}
